    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Project name</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            <p class="navbar-text pull-right">
            <% if user_signed_in? %>
              Logged in as 
              <%= link_to current_user.email, edit_user_registration_path %>
              <%= link_to "logout", destroy_user_session_path, :method => :delete %>
            <% else %>
              <%= link_to "Login", new_user_session_path %> / 
              <%= link_to "Sign up", new_user_registration_path %>
            <% end %>
            </p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
